body {
  background: #f4f4f4;
}

header {
  background: #0073e6;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.container {
  display: flex;
  gap: 10px;
  padding: 10px 0 10px 0;
}

.web-content {
  background: white;
  border-radius: 10px;
  padding: 10px;
  flex-grow: 2;
}

.workshop-content {
  background: white;
  border-radius: 10px;
  padding: 10px;
  flex-grow: 1;
}

footer {
  background: #0073e6;
  padding: 16px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: semibold;
}
