@@ -0,0 +1,321 @@
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1efec;
}

.logo {
  border: none;
  cursor: pointer;
  padding: 1rem;
}

.menu {
  border: none;
  cursor: pointer;
  padding: 1rem;
}

main {
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  margin-top: 3rem;
  gap: 1rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.sidebar {
  position: sticky;
  width: 10rem;
  padding: 1rem;
  top: 10rem;
  align-self: flex-start;
  text-align: center;
  background-color: #d4c9be;
  border-radius: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  border: 1px solid #030303;
  border-radius: 0.5rem;
  overflow: hidden;
}

.sidebar a {
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #030303;
  transition: background-color 0.2s ease, border-radius 0.2s ease;
}

.sidebar a:hover {
  background-color: #f7f3ef;
  font-weight: bold;
}

.sidebar li:nth-child(1) a:hover {
  border-radius: 0.5rem 0.5rem 0 0;
}

.sidebar li:nth-child(2) a:hover {
  border-radius: 0;
}

.sidebar li:nth-child(3) a:hover {
  border-radius: 0 0 0.5rem 0.5rem;
}

.introduce {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #97e0ff;
}

.image-gallery {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 10rem;
  gap: 0.5rem;
  padding: 1rem;
}

.image-gallery .item {
  overflow: hidden;
}

.image-gallery .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.item1 {
  grid-column: span 2;
  grid-row: span 1;
}

.item2 {
  grid-column: span 2;
  grid-row: span 2;
}

.item3 {
  grid-column: span 2;
  grid-row: span 1;
}

.item4 {
  grid-column: span 3;
  grid-row: span 1;
}

.item5 {
  grid-column: span 1;
  grid-row: span 1;
}

footer {
  align-items: center;
  background-color: #f1efec;
  padding: 0.5rem;
}
