@@ -0,0 +1,321 @@
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1efec;
}

.logo {
  border: none;
  cursor: pointer;
  padding: 1rem;
}

.menu {
  border: none;
  cursor: pointer;
  padding: 1rem;
}

main {
  display: flex;
}

.sidebar {
  position: sticky;
  width: 10rem;
  padding: 1rem;
  top: 10rem;
  align-self: flex-start;
  text-align: center;
  background-color: #d4c9be;
  border-radius: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  border: 1px solid #030303;
  border-radius: 0.5rem;
  overflow: hidden;
}

.sidebar a {
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #030303;
  transition: background-color 0.2s ease, border-radius 0.2s ease;
}

.sidebar a:hover {
  background-color: #f7f3ef;
  font-weight: bold;
}

.sidebar li:nth-child(1) a:hover {
  border-radius: 0.5rem 0.5rem 0 0;
}

.sidebar li:nth-child(2) a:hover {
  border-radius: 0;
}

.sidebar li:nth-child(3) a:hover {
  border-radius: 0 0 0.5rem 0.5rem;
}
